# CRUD com MySQL e Python

instalação da biblioteca:
pip install mysql-connector-python
ou no Jupyter
!pip install mysql-connector-python

In [ ]:
import mysql.connector

In [ ]:
# conexão com o banco de dados
conexao = mysql.connector.connect(
    host='localhost',
    user='root',
    password='81215150',
    database='bdyoutube'
)

cursor = conexao.cursor()

## Nese caso a tabela já está criada pelo MySQL, o que torna a execução do comando de 'CREATE' inútil.

In [ ]:
# inserindo dados
nome_produto = 'todynho'
valor = 3
comando = (f'INSERT INTO vendas (nome_produto, valor) VALUES ("{nome_produto}", {valor})')
cursor.execute(comando)
conexao.commit()

In [ ]:
#READ (lendo dados)
comando = ('SELECT * FROM vendas')
cursor.execute(comando)
resultado = cursor.fetchall()
print(resultado)

In [ ]:
#UPDATE (atualizando dados)
valor = 6
nome_produto = 'todynho'
comando = f'UPDATE vendas SET valor = {valor} WHERE nome_produto = "{nome_produto}"'
cursor.execute(comando)
conexao.commit()

In [ ]:
#DELETE (apagando dados)
nome_produto = 'todynho'
comando = f'DELETE FROM vendas WHERE nome_produto = "{nome_produto}"'
cursor.execute(comando)
conexao.commit()